body {
    color: #fff;
    background: url('../img/roc-and-vivien.jpg') no-repeat center top;
}

/******************************************************************************/

/* Status: */

.show-vivien .roc-name,
.show-roc .vivien-name{
    color: #999;
}

/**************************************/

body.show-both {
    background-position-x: center;
}

body.show-both .roc-info,
body.show-both .vivien-info {
    visibility: hidden;
    opacity: 0;
}

/**************************************/

body.show-roc,
body.show-vivien {
    /* Set background-position-x by JS */
}

body.show-roc .roc-info,
body.show-vivien .vivien-info {
    visibility: visible;
    opacity: 1;
}

body.show-roc .vivien-info,
body.show-vivien .roc-info {
    visibility: hidden;
    opacity: 0;
}

/******************************************************************************/

/* Transition: */

.roc-name, .vivien-name {
    transition: color 2s;
}

/**************************************/

body.both-roc,
body.both-vivien {
    transition: background-position 1s 0s;
}

body.both-roc .roc-info,
body.both-vivien .vivien-info {
    transition: opacity 1s 1s, visibility 0s 0s;
}

/**************************************/

body.roc-both,
body.vivien-both {
    transition: background-position 1s 1s;
}

body.roc-both .roc-info,
body.vivien-both .vivien-info {
    transition: opacity 1s 0s, visibility 0s 1s;
}

/**************************************/

body.roc-vivien,
body.vivien-roc {
    transition: background-position 0.6s 0.7s;
}

body.roc-vivien .roc-info,
body.vivien-roc .vivien-info {
    transition: opacity 0.7s 0s, visibility 0s 0.7s;
}

body.roc-vivien .vivien-info,
body.vivien-roc .roc-info {
    transition: opacity 0.7s 1.3s, visibility 0s 1.3s;
}

/******************************************************************************/
.panel, .list-group-item {
    background-color: transparent;
}

.icon-stack-base {
    color: #333;
}

.align-right {
    text-align: right;
}

.portrait {
    width  : 140px;
    height : 140px;
}

.infosys-logo {
    width  : 100%;
    height : 100%;
}

.tencent-logo {
    width  : 100%;
    height : 100%;
}

.center-align {
    position: absolute;
    right: -15px;
}

address {
    line-height : 2;
}
