/* Tablet and desktop style */
@import 'bootstrap-ext';

@media (min-width: 768px) {
    /* Outdated browser alert */
    .browsehappy~.name .roc-name-container,
    .browsehappy~.name .vivi-name-container {
        margin-top:72px;
    }

    /* Body */
    body {
        background: url('../img/roc-and-vivi.jpg') center top no-repeat fixed, #000;
        background-size: auto 100%;
    }

    .show-control {
        z-index: 10;
        position: fixed;
        display: none !important;
    }

    /* Name */
    .name {
        overflow-x: hidden;
    }
    .roc-name-container,
    .vivi-name-container {
        position:absolute;
        top:0;
        width:50%;
        @include global-padding;
        overflow-x: hidden;
    }
    .roc-name-container {
        left:0;
        text-align: right;
    }
    .vivi-name-container {
        left:50%;
        text-align: left;
    }
    .and-sign {
        text-align: center;
        font-family: "Baskerville","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style:italic;
        transition: opacity 2s;
    }
    .roc-name, .vivi-name {
        position: relative;
    }

    /* Info */
    .info {
        position: relative;
        overflow: hidden;
    }
    .roc-info,
    .vivi-info {
        position: absolute;
        top: 0;
        width: 100%;
    }

    .experience dt,
    .education dt {
        text-align: center;
    }

    /* Contact */
    .roc-address,
    .vivi-address {
        position:fixed;
        top:69px;
        width:25%;
        z-index:10;
    }
    .roc-address {
        text-align:left;
        right:0;
        padding-right:30px;
        padding-left:10px;
    }
    .vivi-address {
        left: 0;
        padding-right:10px;
        padding-left:30px;
        text-align: right;
    }

    /* Operation */
    .operation {
        position: fixed;
        bottom: 30px;
        width:25%;
        z-index:20;
    }
    .roc.operation {
        right:0;
        padding-right:30px;
        padding-left:10px;
    }
    .vivi.operation {
        padding-left:30px;
        padding-right:10px;
        left:0;
        text-align: right;
    }
    .popover {
        position: fixed;
        color: #333;
    }

    #hire_roc {
        z-index: 10;
        position: fixed;
        width: 7%;
        height: 7%;
        top: 59%;
        right: 0;
    }
    #hire_vivi {
        z-index: 10;
        position: fixed;
        width: 7%;
        height: 7%;
        top: 59%;
        left: 0;
    }

    /*********************************************/
    /* Animation Style Start */

    /* Status: */
    .show-both {
        background-position: center top;

        .show-control {
            display:block !important;
        }

        .roc-name {
            right: 0;
        }

        .vivi-name {
            left: 0;
        }

        .roc-info,
        .roc.operation,
        .roc-address {
            right: 100%;
        }

        .vivi-info,
        .vivi.operation,
        .vivi-address {
            left: 100%;
        }

        #hire_roc,
        #hire_vivi {
            display: none !important;
        }
    }

    .show-roc {
        /* Set background-position-x by JS */

        .vivi-name {
            left: 200%;
        }

        .roc-name {
            /* Set left or right by JS */
        }

        .and-sign {
            opacity: 0;
        }

        .vivi-address,
        .vivi.operation,
        .vivi-info {
            left: 100%;
        }

        .roc-info {
            right: 0;
        }

        #hire_roc {
            display: block;
        }

        #hire_vivi {
            display: none;
        }

    }

    .show-vivi {
        /* Set background-position-x by JS */

        .roc-name {
            right: 200%;
        }

        .vivi-name {
            /* Set left or right by JS */
        }

        .and-sign {
            opacity: 0;
        }

        .roc-address,
        .roc.operation,
        .roc-info {
            right: 100%;
        }

        .vivi-info {
            left: 0;
        }

        #hire_vivi {
            display: block;
        }

        #hire_roc {
            display: none;
        }
    }

    /* Transition: */

    /* Background */
    .both-roc {
        transition: background-position 1s 1s;

        .roc-name {
            transition: right 1s 0s;
        }

        .vivi-name {
            transition: left 1s 1s;
        }

        .roc-address ,
        .roc.operation ,
        .roc-info {
            transition: right 1s 1s;
        }
    }

    .both-vivi {
        transition: background-position 1s 1s;

        .vivi-name {
            transition: left 1s 0s;
        }

        .roc-name {
            transition: right 1s 1s;
        }

        .vivi-address,
        .vivi.operation,
        .vivi-info {
            transition: left 1s 1s;
        }

    }

    .roc-both {
        transition: background-position 1s 0s;

        .vivi-name {
            transition: left 1s 0s;
        }

        .roc-name {
            transition: right 1s 1s;
        }

        .roc-address,
        .roc.operation,
        .roc-info {
            transition: right 1s 0s;
        }
    }

    .vivi-both {
        transition: background-position 1s 0s;

        .roc-name {
            transition: right 1s 0s;
        }

        .vivi-name {
            transition: left 1s 1s;
        }

        .vivi-info,
        .vivi.operation,
        .vivi-address {
            transition: left 1s 0s;
        }
    }

    .roc-vivi {
        transition: background-position 1s 0s;

        .vivi-address,
        .vivi-info,
        .vivi-name,
        .vivi.operation {
            transition: left 1s 0s;
        }

        .roc-address,
        .roc-info,
        .roc-name,
        .roc.operation {
            transition: right 1s 0s;
        }
    }

    .vivi-roc {
        transition: background-position 1s 0s;

        .roc-address,
        .roc-info,
        .roc-name,
        .roc.operation {
            transition: right 1s 0s;
        }

        .vivi-address,
        .vivi-info,
        .vivi-name,
        .vivi.operation {
            transition: left 1s 0s;
        }
    }
    /* Animation Style End */
}
