/* Tablet and desktop style */
@import 'bootstrap-ext';

@media screen and (min-width: 768px) {
    /* Outdated browser alert */
    .browsehappy~.name .roc-name,
    .browsehappy~.name .vivi-name {
        margin-top : 72px;
    }

    /* Body */
    body {
        background      : url('../img/roc-and-vivi.jpg') center top no-repeat fixed, #000;
        background-size : auto 100%;
    }

    h3 {
        margin-top: 5px;
    }

    /* Name */
    .roc-name,
    .vivi-name {
        position         : absolute;
        top              : 0;
        width            : 50%;
        height           : 100%;
        overflow-x       : hidden;
        display          : block;
        padding-top      : 20px;
        transition       : background-color 1s;
    }
    .roc-name {
        right         : 50%;
        text-align    : right;
        padding-right : $page-padding-x;
    }
    .roc-name-text,
    .vivi-name-text {
        position: relative;
    }
    .vivi-name {
        left         : 50%;
        text-align   : left;
        padding-left : $page-padding-x;
    }
    .and-sign {
        text-align  : center;
        font-family : "Baskerville","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-style  : italic;
        transition  : opacity 2s;
        z-index     : 10;
        position    : absolute;
        left        : 50%;
        display     : block;
        margin-top  : 20px;
        margin-left : -15.5px;
    }

    /* Info */
    .info {
        position: relative;
        overflow: hidden;
        top: 70px;
    }
    .roc-info,
    .vivi-info {
        position: absolute;
        top: 0;
        width: 100%;
    }

    /* Contact */
    .roc-address,
    .vivi-address {
        position:fixed;
        top:69px;
        width:25%;
        z-index:10;
    }
    .roc-address {
        text-align:left;
        right:0;
        padding-right:30px;
        padding-left:10px;
    }
    .vivi-address {
        left: 0;
        padding-right:10px;
        padding-left:30px;
        text-align: right;
    }

    /* Operation */
    .roc-operation, .vivi-operation {
        position: fixed;
        bottom: 30px;
        width:25%;
        z-index:20;
    }
    .roc-operation {
        right:0;
        padding-right:30px;
        padding-left:10px;
    }
    .vivi-operation {
        padding-left:30px;
        padding-right:10px;
        left:0;
        text-align: right;
    }
    .popover {
        position: fixed;
        color: #333;
    }

    #hire_roc {
        z-index: 10;
        position: fixed;
        width: 7%;
        height: 7%;
        top: 59%;
        right: 0;
    }
    #hire_vivi {
        z-index: 10;
        position: fixed;
        width: 7%;
        height: 7%;
        top: 59%;
        left: 0;
    }

    /*********************************************/
    /* Animation Style Start */

    /* Status: */
    .show-both {
        background-position: center top;

        .roc-name-text {
            right: 0;
        }

        .vivi-name-text {
            left: 0;
        }

        .roc-name,
        .vivi-name {
            background-color : rgba(0, 0, 0, 0.5);
        }
        .roc-name:hover, .roc-name:focus,
        .vivi-name:hover, .vivi-name:focus {
            background-color : rgba(0, 0, 0, 0);
        }

        .roc-info,
        .roc-operation,
        .roc-address {
            right: 100%;
        }

        .vivi-info,
        .vivi-operation,
        .vivi-address {
            left: 100%;
        }

        #hire_roc,
        #hire_vivi {
            display: none !important;
        }
    }

    .show-roc {
        /* Set background-position-x by JS */

        .roc-name-text {
            /* Set right by JS */
        }

        .vivi-name-text {
            left: 100%;
        }

        .roc-name,
        .vivi-name {
            cursor: default;
            background-color : rgba(0, 0, 0, 0);
        }

        .and-sign {
            opacity: 0;
        }

        .vivi-address,
        .vivi-operation,
        .vivi-info {
            left: 100%;
        }

        .roc-info {
            right: 0;
        }

        #hire_roc {
            display: block !important;
        }

        #hire_vivi {
            display: none !important;
        }

    }

    .show-vivi {
        /* Set background-position-x by JS */

        .roc-name-text {
            right: 100%;
        }

        .vivi-name-text {
            /* Set left by JS */
        }

        .roc-name,
        .vivi-name {
            cursor: default;
            background-color : rgba(0, 0, 0, 0);
        }

        .and-sign {
            opacity: 0;
        }

        .roc-address,
        .roc-operation,
        .roc-info {
            right: 100%;
        }

        .vivi-info {
            left: 0;
        }

        #hire_vivi {
            display: block !important;
        }

        #hire_roc {
            display: none !important;
        }
    }

    /* Transition: */

    /* Background */
    .both-roc {
        transition: background-position 1s 1s;

        .roc-name-text {
            transition: right 1s 0s;
        }

        .vivi-name-text {
            transition: left 1s 1s;
        }

        .roc-address ,
        .roc-operation ,
        .roc-info {
            transition: right 1s 1s;
        }
    }

    .both-vivi {
        transition: background-position 1s 1s;

        .vivi-name-text {
            transition: left 1s 0s;
        }

        .roc-name-text {
            transition: right 1s 1s;
        }

        .vivi-address,
        .vivi-operation,
        .vivi-info {
            transition: left 1s 1s;
        }

    }

    .roc-both {
        transition: background-position 1s 0s;

        .vivi-name-text {
            transition: left 1s 0s;
        }

        .roc-name-text {
            transition: right 1s 1s;
        }

        .roc-address,
        .roc-operation,
        .roc-info {
            transition: right 1s 0s;
        }
    }

    .vivi-both {
        transition: background-position 1s 0s;

        .roc-name-text {
            transition: right 1s 0s;
        }

        .vivi-name-text {
            transition: left 1s 1s;
        }

        .vivi-info,
        .vivi-operation,
        .vivi-address {
            transition: left 1s 0s;
        }
    }

    .roc-vivi {
        transition: background-position 1s 0s;

        .vivi-address,
        .vivi-info,
        .vivi-operation {
            transition: left 1s 0s;
        }
        .vivi-name-text {
            transition: left 1s 0s;
        }

        .roc-address,
        .roc-info,
        .roc-operation {
            transition: right 1s 0s;
        }
        .roc-name-text {
            transition: right 1s 0s;
        }
    }

    .vivi-roc {
        transition: background-position 1s 0s;

        .roc-address,
        .roc-info,
        .roc-operation {
            transition: right 1s 0s;
        }
        .roc-name-text {
            transition: right 1s 0s;
        }

        .vivi-address,
        .vivi-info,
        .vivi-operation {
            transition: left 1s 0s;
        }
        .vivi-name-text {
            transition: left 1s 0s;
        }
    }
    /* Animation Style End */
}
