/* Mobile style */
@media screen and (max-width: 767px) {
    /* Nav */
    .navbar-header {
        padding-left: 15px;
    }

    /* Name */
    .roc-name,
    .vivi-name {
        position          : absolute;
        height            : 50%;
        width             : 100%;
        background-size   : auto 100%;
        background-repeat : no-repeat;
        background-color  : #000;
        z-index:  10;
        margin: 0;
        display: block;
    }
    .roc-name {
        background-image    : url('../img/roc-bg.jpg');
        background-position : top right;
        top:0;
        right:0;
    }
    .vivi-name {
        background-image    : url('../img/vivi-bg.jpg');
        background-position : top left;
        text-align          : right;
        top:50%;
        left:0;
    }
    .absolute-center {
        margin: auto;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 43px;
        @include global-padding;
    }

    /* Contact */
    address li {
        display: inline;
        margin-right: 7px;
    }
    .address-text {
        display: none;
    }
    .roc-address,
    .vivi-address {
        position:   absolute;
        z-index: 20;

        font-size: 1.3333333333333333em;
        line-height: .75em;
        vertical-align: -15%;
    }
    .roc-address {
        top:      33%;
        left:     30px;
    }
    .vivi-address {
        top:        83%;
        right:      30px;
        text-align: right;
    }

    /* Info */
    .info {
        position: absolute;
        overflow: hidden;
        top:      50%;
        left:     0;
        width:    100%;
    }
    .roc-info,
    .vivi-info {
        position: absolute;
        top: 0;
        width: 100%;
    }
    .roc-info {
        right: 100%;
        z-index:  30;
    }
    .vivi-info {
        left: 100%;
        z-index:  30;
    }

    /* Skills */
    .progress-bar {
        text-align: left;
    }
    .progress-bar span {
        padding-left: 15px;
    }

    /***********************************************/
    /* Animation Style */

    /* Status */
    .show-both .navbar {
        display: none!important;
    }
    .show-both .info{
        height: 50%;
    }

    .show-roc .navbar-header .to-roc,
    .show-roc .vivi-nav-links {
        display: none;
    }
    .show-roc .vivi-name {
        top : 0;
        left   : 100%;
    }
    .show-roc .vivi-address {
        top: 30%;
        right: -100%;
    }
    .show-roc .roc-info {
        right: 0;
    }

    .show-vivi .navbar-header .to-vivi,
    .show-vivi .roc-nav-links{
        display: none;
    }
    .show-vivi .roc-name {
        right: 100%;
    }
    .show-vivi .roc-address {
        left: -100%;
    }
    .show-vivi .vivi-name {
        top: 0;
    }
    .show-vivi .vivi-address {
        top: 30%;
    }
    .show-vivi .vivi-info {
        left: 0;
    }

    /* Transition */
    .both-roc .vivi-name {
        transition: top 0s 1s, left 1s 0s;
    }
    .both-roc .vivi-address {
        transition: top 0s 1s, right 1s 0s;
    }
    .both-roc .roc-info {
        transition: right 1s 0s;
    }

    .roc-both .vivi-name {
        transition: left 1s 0s;
    }
    .roc-both .vivi-address {
        transition: right 1s 0s;
    }
    .roc-both .roc-info {
        transition: right 1s 0s;
    }
    .roc-both .info {
        transition: height 0s 1s;
    }

    .both-vivi .roc-name {
        transition: right 1s 0s;
    }
    .both-vivi .roc-address {
        transition: left 1s 0s;
    }
    .both-vivi .vivi-name {
        transition: top 1s 1s;
    }
    .both-vivi .vivi-address {
        transition: top 1s 1s;
    }
    .both-vivi .vivi-info {
        transition: left 1s 2s;
    }

    .vivi-both .vivi-info {
        transition: left 1s 0s;
    }
    .vivi-both .info {
        transition: height 0s 1s;
    }
    .vivi-both .vivi-name {
        transition: top 1s 1s;
    }
    .vivi-both .vivi-address {
        transition: top 1s 1s;
    }
    .vivi-both .roc-name {
        transition: right 1s 2s;
    }
    .vivi-both .roc-address {
        transition: left 1s 2s;
    }

    .roc-vivi .roc-name,
    .roc-vivi .roc-info{
        transition: right 1s 0s;
    }
    .roc-vivi .vivi-name,
    .roc-vivi .vivi-info{
        transition: left 1s 0s;
    }
    .roc-vivi .roc-address{
        transition: left 1s 0s;
    }
    .roc-vivi .vivi-address{
        transition: right 1s 0s;
    }

    .vivi-roc .roc-name,
    .vivi-roc .roc-info{
        transition: right 1s 0s;
    }
    .vivi-roc .vivi-name,
    .vivi-roc .vivi-info{
        transition: left 1s 0s;
    }
    .vivi-roc .roc-address {
        transition: left 1s 0s;
    }
    .vivi-roc .vivi-address{
        transition: right 1s 0s;
    }

    .roc-operation, .vivi-operation {
        display: none;
    }
}
