$print_page_padding_x: 30px;

@media print {
    // Hide unrelavent contents
    .show-roc .and-sign,
    .show-roc .vivi-name,
    .show-roc .vivi-address,
    .show-roc .vivi-info,
    .show-roc .vivi-operation,

    .show-vivi .and-sign,
    .show-vivi .roc-name,
    .show-vivi .roc-address,
    .show-vivi .roc-info,
    .show-vivi .roc-operation,

    .show-both address,
    .show-both .info {
        display: none !important;
    }

    // Expand info section to full width
    .roc-info>.row>div {
        width: 100%;
    }

    // Remove icons
    .info i {
        display: none;
    }

    // Do not show hyperlink text
    a[href]:after {
        content: "";
    }

    // Title
    h1 {
        text-align: center;
        margin: 0 0 30px;
    }
    h2 {
        margin-top: 0;
    }
    h3 {
        font-size: 16px;
        margin: 0 0 10px;
    }

    // Contact info
    address {
        text-align:center !important;
        margin-bottom: 0;
    }
    address li {
        display: inline;
        margin-left: 10px;
    }

    // QR Code
    #roc-qrcode {
        position: absolute !important;
        padding: 0 !important;
        margin: 0;
        width: 60px;
        height: 60px;
        top: 0;
        right: $print_page_padding_x !important;
    }

    // Show the link to online CV
    .cv-link {
        display: inline;
    }

    // Show black logos only
    .white-logo {
        display: none;
    }
    .black-logo {
        display: inline;
   }

   // Set Definition list
   dl {
       margin-bottom: 10px;
   }
   dt {
       font-weight: normal;
   }

   // Horizontally layout certain sections
   .experience, .personal-projects, .education {
       .dl-horizontal dt {
           float: left;
           width: 160px;
           overflow: hidden;
           clear: left;
           text-align: right;
           text-overflow: ellipsis;
           white-space: nowrap;
       }
       .dl-horizontal dd {
           margin-left: 180px;
       }
       .dl-horizontal dd:before,
       .dl-horizontal dd:after {
           display: table;
           content: " ";
       }
       .dl-horizontal dd:after {
           clear: both;
       }
       .dl-horizontal dd:before,
       .dl-horizontal dd:after {
           display: table;
           content: " ";
       }
       .dl-horizontal dd:after {
           clear: both;
       }
    }

    // Do not show the App Store link
    a.app-store-badge:before {
        content: "Avaliable in App Store: ";
    }
    a.app-store-badge:after {
        content: attr(href);
    }

    // Adjust the skill bars
    .progress {
        background-color: #f5f5f5 !important;
    }
    .progress-bar {
        background-color: #888 !important;
        text-align: left;
    }
    .progress-bar span {
        padding-left: 15px;
    }

    // Images in personal projects
    .personal-projects img {
        filter: grayscale(1);
    }

    // Indentation
    body {
        padding: 0 $print_page_padding_x;
    }
    h2 ~ * {
        margin-left: 30px !important;
    }
    h2 ~ ul {
        padding-left: 20px;
    }

    // List column layout
    .certificates, .honors {
        ul li span {
            float: right;
        }
    }
}
