$page-padding-x: 35px;

@mixin global-padding {
    padding:0 $page-padding-x;
}

@media screen {
    body {
        color: #fff;
        background-color: #000;
    }

    dt {
        white-space: normal !important;
        font-weight: normal;
    }

    .name {
        position   : absolute;
        overflow-x : hidden;
        height     : 100%;
        width      : 100%;
        top        : 0;
        left       : 0;
        margin     : 0;
    }
    .name a {
        color: #fff;
        text-decoration: none;
    }
    .show-both .name {
        z-index    : 10;
    }

    .roc-info,
    .vivi-info,
    .browsehappy {
        @include global-padding;
    }

    a .fa {
        color: #fff;
    }

    .logo {
        width  : 160px;
    }

    .roc-operation, .vivi-operation {
        a {
            color: #fff;

            .fa-fw {
                width: 1em;
            }
        }
    }

    .cv-link {
        display: none;
    }

    .white-logo {
        display: inline;
    }
    .black-logo {
        display: none;
    }

    .portfolio {
        font-size: 0;
    }

    .app-store-badge {
        display:inline-block;
        overflow:hidden;
        background:url(../img/badge_appstore-lrg.png) no-repeat;
        width:135px;
        height:40px;
    }
    @media only screen{
        .app-store-badge {
            background-image:url(../img/badge_appstore-lrg.svg);
        }
    }

    /* Adaptive video */
    .video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
        margin-bottom: 20px;

        .video {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
        }
    }

    /* Ribbon */
    $ribbon-color: #d64b4b;
    h2{
        position      : relative;

        color         : #801111;
        color         : #420000;
        text-shadow   : #d65c5c 0 1px 0;

        background    : $ribbon-color;
        box-shadow    : rgba(0,0,0,0.3) 0 1px 1px;

        float         : left;
        clear         : both;

        padding       : 6px 10px 7px 20px;
        margin-left   : -20px;
        margin-bottom : 15px;

        white-space   : nowrap;
        text-overflow : ellipsis;
    }
    h2:before {
        content      : ' ';
        position     : absolute;
        width        : 0;
        height       : 0;
        top          : 100%;
        left         : 0px;
        border-width : 6px 6px;
        border-style : solid;
        border-color : #871616 #871616 transparent transparent;
    }
    h2:after {
        content            : ' ';
        position           : absolute;
        top                : 0;
        left               : 100%;
        width              : 0;
        height             : 0;

        border-width       : 23px 23px 23px 0;
        border-style       : solid;
        border-color       : $ribbon-color;
        border-right-color : transparent;
    }
    h2+* {
        clear:both;
    }
    /* Ribbon END */

    .vivi-work-container a {
        margin: 0 3% 3% 0;
    }

    .address-container {
        position : absolute;
        height   : 100%;
        width    : 100%;
        top      : 0;
        left     : 0;
        overflow : hidden;
        margin   : 0;
    }

    // List column layout
    .certificates, .honors {
        ul li span {
            float: right;
        }
    }
}

@import 'desktop';
@import 'mobile';
