/* Extencd bootstrap grid */
.col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12 {
  position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px;
}

@media (min-width: 1900px) {
  .container { max-width: 2530px; }
  .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11 { float: left; }
  .col-xl-1 { width: 8.333333333333332%; }
  .col-xl-2 { width: 16.666666666666664%; }
  .col-xl-3 { width: 25%; }
  .col-xl-4 { width: 33.33333333333333%; }
  .col-xl-5 { width: 41.66666666666667%; }
  .col-xl-6 { width: 50%; }
  .col-xl-7 { width: 58.333333333333336%; }
  .col-xl-8 { width: 66.66666666666666%; }
  .col-xl-9 { width: 75%; }
  .col-xl-10 { width: 83.33333333333334%; }
  .col-xl-11 { width: 91.66666666666666%; }
  .col-xl-12 { width: 100%; }
  .col-xl-push-0 { left: auto; }
  .col-xl-push-1 { left: 8.333333333333332%; }
  .col-xl-push-2 { left: 16.666666666666664%; }
  .col-xl-push-3 { left: 25%; }
  .col-xl-push-4 { left: 33.33333333333333%; }
  .col-xl-push-5 { left: 41.66666666666667%; }
  .col-xl-push-6 { left: 50%; }
  .col-xl-push-7 { left: 58.333333333333336%; }
  .col-xl-push-8 { left: 66.66666666666666%; }
  .col-xl-push-9 { left: 75%; }
  .col-xl-push-10 { left: 83.33333333333334%; }
  .col-xl-push-11 { left: 91.66666666666666%; }
  .col-xl-pull-0 { right: auto; }
  .col-xl-pull-1 { right: 8.333333333333332%; }
  .col-xl-pull-2 { right: 16.666666666666664%; }
  .col-xl-pull-3 { right: 25%; }
  .col-xl-pull-4 { right: 33.33333333333333%; }
  .col-xl-pull-5 { right: 41.66666666666667%; }
  .col-xl-pull-6 { right: 50%; }
  .col-xl-pull-7 { right: 58.333333333333336%; }
  .col-xl-pull-8 { right: 66.66666666666666%; }
  .col-xl-pull-9 { right: 75%; }
  .col-xl-pull-10 { right: 83.33333333333334%; }
  .col-xl-pull-11 { right: 91.66666666666666%; }
  .col-xl-offset-0 { margin-left: 0; }
  .col-xl-offset-1 { margin-left: 8.333333333333332%; }
  .col-xl-offset-2 { margin-left: 16.666666666666664%; }
  .col-xl-offset-3 { margin-left: 25%; }
  .col-xl-offset-4 { margin-left: 33.33333333333333%; }
  .col-xl-offset-5 { margin-left: 41.66666666666667%; }
  .col-xl-offset-6 { margin-left: 50%; }
  .col-xl-offset-7 { margin-left: 58.333333333333336%; }
  .col-xl-offset-8 { margin-left: 66.66666666666666%; }
  .col-xl-offset-9 { margin-left: 75%; }
  .col-xl-offset-10 { margin-left: 83.33333333333334%; }
  .col-xl-offset-11 { margin-left: 91.66666666666666%; }
}

/******************************************************************************/

/* Mobile CSS */
@media (max-width: 767px) {
    body { background: black; }
    .absolute-center { margin: auto; position: absolute; top: 0; left: 0; bottom: 0; right: 0; }
    h1.absolute-center { height: 39px; padding: 0 15px; }
    .name { position: absolute; height: 100%; width: 100%; }
    .roc-name-container, .vivien-name-container { height: 50%; background-size: auto 100%; background-repeat: no-repeat; }
    .roc-name-container { background-image: url('../img/roc-bg.jpg'); background-position: top right; }
    .vivien-name-container { text-align: right; background-image: url('../img/vivien-bg.jpg'); background-position: top left; position: absolute; }
    .info { position: absolute; top: 50%; width: 100%; }

    /* Status */
    .show-roc .vivien-name-container, .show-vivien .roc-name-container { opacity: 0; }
    .show-vivien .vivien-name-container { bottom: 50%; }

    /* Transition */

    /* Both to Roc */
    .both-roc .vivien-name-container { transition: opacity 1s 0s; }
    .both-roc .roc-info { transition: opacity 1s 1s; }

    /* Roc to Both */
    .roc-both .roc-info { transition: opacity 1s 0s; }
    .roc-both .vivien-name-container { transition: opacity 1s 1s; }

    /* Both to Vivien */
    .both-vivien .roc-name-container { transition: opacity 1s 0s; }
    .both-vivien .vivien-name-container { transition: bottom 1s 1s; }
    .both-vivien .vivien-info { transition: opacity 1s 2s; }

    /* Vivien to Both */
    .vivien-both .vivien-info { transition: opacity 1s 0s; }
    .vivien-both .vivien-name-container { transition: bottom 1s 1s; }
    .vivien-both .roc-name-container { transition: opacity 1s 2s; }
}

/******************************************************************************/

/* Status: */

/* Background */
.show-both {
    background-position-x: center;
    overflow: hidden;
}
.show-roc,
.show-vivien {
    /* Set background-position-x by JS */
}

/* Name */
.show-both .roc-name {
    right: 0;
}
.show-both .vivien-name {
    left: 0;
}
.show-roc .vivien-name {
    left: 200%;
}
.show-vivien .roc-name {
    right: 200%;
}
.show-roc .roc-name,
.show-vivien .vivien-name {
    /* Set left or right by JS */
}

/* Info */
.show-both .roc-info,
.show-vivien .roc-info {
    right: 100%;
}
.show-both .vivien-info,
.show-roc .vivien-info {
    left: 100%;
}
.show-roc .roc-info {
    right: auto;
}
.show-vivien .vivien-info {
    left: auto;
}

/* Easter Egg */
.show-roc #hire_roc,
.show-vivien #hire_vivien {
    display: block;
}
.show-roc #hire_vivien,
.show-vivien #hire_roc,
.show-both #hire_roc,
.show-both #hire_vivien {
    display: none;
}

/******************************************************************************/

/* Transition: */

/* Background */

.both-roc,
.both-vivien {
    transition: background-position 1s 1s;
}

.roc-both,
.vivien-both,
.roc-vivien,
.vivien-roc {
    transition: background-position 1s 0s;
}

/* Name */

.both-roc .roc-name,
.vivien-both .roc-name,
.roc-vivien .roc-name,
.vivien-roc .roc-name {
    transition: right 1s 0s;
}

.both-vivien .vivien-name,
.roc-both .vivien-name,
.roc-vivien .vivien-name,
.vivien-roc .vivien-name {
    transition: left 1s 0s;
}

.both-roc .vivien-name,
.vivien-both .vivien-name {
    transition: left 1s 1s;
}

.both-vivien .roc-name,
.roc-both .roc-name {
    transition: right 1s 1s;
}

/* Info */

.both-roc .roc-info {
    transition: right 1s 1s;
}

.both-vivien .vivien-info {
    transition: left 1s 1s;
}

.roc-both .roc-info,
.roc-vivien .roc-info,
.vivien-roc .roc-info {
    transition: right 1s 0s;
}

.vivien-both .vivien-info,
.roc-vivien .vivien-info,
.vivien-roc .vivien-info {
    transition: left 1s 0s;
}

/******************************************************************************/

body {
    background: url('../img/roc-and-vivien.jpg') no-repeat fixed center top, black;
    background-size: auto 100%;
    color: #fff;
}

.roc-name-container {
    text-align: right;
}

.name {
    overflow-x: hidden;
}

.roc-name, .vivien-name {
    position: relative;
}

.roc-name, .roc-name:hover, .roc-name:focus,
.vivien-name, .vivien-name:hover, .vivien-name:focus{
    color: #fff;
    text-decoration: none;
}

.fa-stack-2x {
    color: #333;
}

.logo {
    width  : 160px;
}

.progress-bar {
    text-align: left;
}

.progress-bar span {
    padding-left: 15px;
}

.experience dt,
.education dt {
    text-align: center;
}

#show-roc-control,
#show-vivien-control {
    z-index: 10;
    position: fixed;
}

.roc-address,
.vivien-address {
    position:fixed;
}

.vivien-address,
.vivien-operation {
    text-align: right;
}

.operation {
    position: fixed;
    bottom: 30px;
}

.operation a {
    color: #fff;
}

.operation .fa-fw {
    width: 1em;
}

#hire_roc {
    z-index: 10;
    position: fixed;
    width: 7%;
    height: 7%;
    top: 59%;
    right: 0;
}

.popover {
    position: fixed;
    color: #333;
}

#hire_vivien {
    z-index: 10;
    position: fixed;
    width: 7%;
    height: 7%;
    top: 59%;
    left: 0;
}

.portfolio {
    font-size: 0;
}

.info {
    position: relative;
    overflow-x: hidden;
    height: 2000px;
}
.roc-info,
.vivien-info {
    position: absolute;
    top: 0;
    width: 100%;
}

.global-padding {
    padding:0 30px;
}
