@page {
  size   : A4;
  margin : 0;
}

@media print {
  :last-child { margin-bottom : 0; }

  // Title
  h2 { margin-top : $line-height-computed/2; }

  h3 {
    font-size     : 20px;
    margin-bottom : $line-height-computed/2;

    &:first-child { margin-top : 0; }
  }

  // Do not show hyperlink text
  a[href] {
    text-decoration : none;
    &::after { content : ''; }
  }

  // Remove color of all images
  img { filter : grayscale(1); }

  // Icons
  .icon {
    width  : 20px;
    height : 20px;
  }

  // Hide something for printing
  .contact__tagline,
  .contact__operation,
  .portfolio,
  .hire-me,
  .video-bg,
  .contact__tag-line,
  .browser-happy { display : none; }

  // QR Code
  .qr-code {
    width    : 64px;
    height   : 64px;
    position : absolute;
    top      : 25px;
    right    : 50px;
  }

  // Contact Address
  .contact__address {
    @include list-oneline;
    padding-left : 0;
    list-style   : none;
    margin-top   : $line-height-computed;
    font-size    : $font-size-small;

    a { text-decoration : none; }
  }

  // Horizontally layout certain sections
  .experience,
  .personal-projects,
  .education {
    dl {
      margin-bottom : $line-height-computed/2;
    }
    dt {
      float       : left;
      width       : ($print-dl-horizontal-offset - 20);
      clear       : left;
      text-align  : right;
      font-size   : $font-size-small;
      font-weight : 300;
      @include text-overflow;
    }
    dd { margin-left : $print-dl-horizontal-offset; }
  }

  .personal-projects__logo { width : 58px; }

  .skills {
    // Adjust the skill bars
    $progress-bg : #f5f5f5;
    $progress-bar-bg : #888;

    .progress { background-color : $progress-bg !important; }

    .progress-bar {
      background-color : $progress-bar-bg !important;
      text-align       : left;

      span { padding-left : 15px; }
    }

    //display         : flex;
    display         : none;
    flex-flow       : row wrap;
    justify-content : space-between;

    &__title {
      flex      : 1 1 100%;
      max-width : 100%;
    }

    &__group {
      flex      : 1 1 30%;
      max-width : 30%;
    }
  }

  .certificates {
    &__list {
      padding-left : 0;
      list-style   : none;
    }

    &__list-item {
      display     : flex;
      flex-flow   : row nowrap;
      align-items : center;

      //&:not(:last-child) { margin-bottom : $line-height-computed/2; }
    }

    &__logo-container {
      flex          : 0 0 auto;
      margin-bottom : 0;
      margin-right  : $grid-gutter-width;
      width         : ($print-dl-horizontal-offset - 20);

      > .certificates__link,
      > .certificates__logo { float : right; }
    }

    &__description { flex : 1 0 auto; }

    &__link,
    &__logo { display : block; }
  }
}

