@media screen {
  h2 { margin-top : $line-height-computed*2; }

  h3:first-child { margin-top : 0; }

  .browser-happy {
    position : absolute;
    top      : $line-height-computed/2;
    left     : $grid-gutter-width/2;
    right    : $grid-gutter-width/2;
  }

  // Hire Me
  .hire-me {
    position : absolute;
    top      : 60%;
    right    : 0;
    width    : 9vh;
    height   : 6vh;
    z-index  : 10;

    @include breakpoint($screen-sm) {
      position : fixed;
    }

    @include breakpoint($screen-md) {
      display : none;
    }

    $popover-background-color : $color-black;
    &__popover {
      position         : absolute;
      top              : 0;
      right            : 100%;
      text-align       : right;
      background-color : $popover-background-color;
      border-radius    : 5px;
      font-size        : $font-size-large;
      font-weight      : 300;
      line-height      : 1;
      padding          : 10px;
      white-space      : nowrap;
      color            : $color-gold;
      transition       : visibility .3s ease-out, opacity .3s ease-out;
      visibility       : hidden;
      opacity          : 0;

      &--js-visible {
        visibility : visible;
        opacity    : 1;
      }

      &::after {
        content      : '';
        position     : absolute;
        border-style : solid;
        border-width : 10px 0 10px 10px;
        border-color : transparent $popover-background-color;
        display      : block;
        width        : 0;
        z-index      : 1;
        left         : 100%;
        top          : 50%;
        transform    : translateY(-50%);
      }
    }
  }

  // QR Code
  .qr-code { display : none; }

  // Objective
  .objective { display : none; }

  // Experience
  .experience {
    &__company {
      color         : $text-muted;
      text-align    : center;
      font-weight   : normal;
      margin-bottom : $line-height-computed;
    }

    &__company-link {
      display       : inline-block;
      margin-bottom : $line-height-computed/2;
    }

    &__logo {
      display : block;
      width   : 200px;
      fill    : currentColor;

      @include breakpoint($screen-sm) {
        width : 160px;
      }
    }

    &__description:not(:last-child) {
      padding-bottom : $line-height-computed/2;
      border-bottom  : 2px solid $color-dark-gray;
      margin-bottom  : $line-height-computed;

      @include breakpoint($screen-sm) {
        padding-bottom : 0;
        border-bottom  : none;
      }
    }
  }

  // Portfolio
  .portfolio {
    &__list {
      @include list-unstyled;
      display         : flex;
      flex-flow       : row wrap;
      justify-content : space-around;
      align-items     : center;
    }

    &__list-item {
      display       : block;
      flex          : 1 1 40%;
      max-width     : 40%;
      margin-top    : $line-height-computed;
      margin-bottom : $line-height-computed;

      @include breakpoint($screen-sm) {
        flex-basis : 30%;
        max-width  : 30%;
      }
    }

    &__logo-link {
      display : block;
    }

    &__logo {
      display      : block;
      fill         : currentColor;
      margin-left  : auto;
      margin-right : auto;
      max-width    : 200px;
      max-height   : 50px;
    }
  }

  // Personal Projects
  .personal-projects {
    &__logo-container {
      text-align    : center;
      font-weight   : normal;
      color         : $text-muted;
      margin-bottom : $line-height-computed;
    }

    &__logo-link {
      display       : inline-block;
      margin-bottom : $line-height-computed/2;
    }

    &__logo {
      display : block;
      width   : 58px;
    }
  }

  // Skills
  .skills {
    @include breakpoint($screen-md) {
      display         : flex;
      flex-flow       : row wrap;
      justify-content : space-between;

      &__title {
        flex      : 1 1 100%;
        max-width : 100%;
      }

      &__group {
        flex      : 1 1 30%;
        max-width : 30%;
      }
    }
  }

  // Education
  .education {
    &__logo-container {
      color         : $text-muted;
      font-weight   : normal;
      text-align    : center;
      margin-bottom : $line-height-computed/2;
    }

    &__description {
      margin-bottom : $line-height-computed;
    }

    &__logo-link {
      display       : inline-block;
      margin-bottom : $line-height-computed/2;
    }

    &__logo {
      display : block;
      width   : 200px;
      fill    : currentColor;

      @include breakpoint($screen-sm) {
        width : 160px;
      }
    }
  }

  // Certificates
  .certificates {
    &__list {
      @include list-unstyled;
      display         : flex;
      flex-flow       : row wrap;
      justify-content : space-around;
    }

    &__list-item {
      flex        : 1 1 100%;
      max-width   : 100%;
      display     : flex;
      flex-flow   : column nowrap;
      align-items : center;

      &:not(:last-child) {
        margin-bottom : $line-height-computed * 2;

        @include breakpoint($screen-sm) {
          margin-bottom : $line-height-computed;
        }
      }

      @include breakpoint($screen-sm) {
        flex-direction : row;
      }

      @include breakpoint($screen-lg) {
        flex-direction : column;
        flex-basis     : 33%;
        max-width      : 33%;
      }
    }

    &__logo-container {
      margin-bottom : $line-height-computed;
      flex          : 0 0 auto;

      @include breakpoint($screen-sm) {
        margin-bottom : 0;
        margin-right  : $grid-gutter-width;
        width         : 207px;
        position      : relative;

        > .certificates__link,
        > .certificates__logo {
          float : right;
        }
      }

      @include breakpoint($screen-lg) {
        margin-bottom : $line-height-computed;
        margin-right  : 0;
        height        : 116px;

        > .certificates__link,
        > .certificates__logo {
          float     : none;
          position  : absolute;
          top       : 50%;
          left      : 50%;
          transform : translate(-50%, -50%);
        }
      }
    }

    &__logo--magento {
      width  : 64px;
      height : 116px;
    }

    &__description {
      flex       : 1 0 auto;
      text-align : center;

      @include breakpoint($screen-sm) {
        text-align : left;
      }

      @include breakpoint($screen-lg) {
        text-align : center;
      }
    }

    &__link,
    &__logo {
      display : block;
    }
  }

  .page-footer {
    margin-top : $line-height-computed;
  }

  .humans-txt {
    @include center-block;
    width : 44px;

    &__img {
      display : block;
      width   : 100%;
      fill    : currentColor;
    }
  }

}
