$screen-logo-width : 160px;
$print-logo-width : 120px;

.experience__logo {
  width : $screen-logo-width;
  &--lero9 { height : $screen-logo-width * 81.1 / 296.7; }
  &--mr { height : $screen-logo-width * 115 / 230; }
  &--tencent { height : $screen-logo-width * 27.991 / 208.741; }
  &--infosys { height : $screen-logo-width * 37.686 / 96.771; }

  @media print {
    width : $print-logo-width;
    &--mr { height : $print-logo-width * 115 / 230; }
    &--tencent { height : $print-logo-width * 27.991 / 208.741; }
    &--infosys { height : $print-logo-width * 37.686 / 96.771; }
  }
}

.portfolio__logo {
  max-width  : 100%;
  max-height : 50px;

  @include breakpoint($screen-sm) { max-width : 200px; }
}

.personal-projects__logo {
  width  : 58px;
  height : 58px;

  @media print {
    width  : 40px;
    height : 40px;
  }
}

.education__logo {
  width  : $screen-logo-width;
  height : $screen-logo-width * 97.2 / 564;

  @media print {
    width  : $print-logo-width;
    height : $print-logo-width * 97.2 / 564;
  }
}

.certificates__logo--magento {
  width  : $screen-logo-width;
  height : $screen-logo-width * 91.3 / 312.5;
}

.certificates__logo--ibm {
  width  : 30px * 1000 / 400;
  height : 30px;
}

.page-footer__humans-txt-img {
  width  : 44px;
  height : 44px * 60 / 71;
}

.page-footer__github-img {
  width  : 44px * 60 / 71;
  height : 44px * 60 / 71;
}
