@page {
  size   : A4;
  margin : 1.5cm;
}

@media print {
  // Title
  h3 {
    font-size : 20px;

    &:first-child {
      margin-top : 0;
    }
  }

  // Do not show hyperlink text
  a[href] {
    text-decoration : none;

    &::after {
      content : '';
    }
  }

  // Remove color of all images
  img {
    filter : grayscale(1);
  }

  // Icons
  .icon {
    width  : 20px;
    height : 20px;
  }

  // Hide something for printing
  .contact__video-bg,
  .contact__tag-line,
  .page-footer__humans-txt,
  .browser-happy {
    display : none;
  }

  .contact__website {
    display : inline-block;
  }

  // QR Code
  .qr-code {
    width    : 64px;
    height   : 64px;
    position : absolute;
    top      : 25px;
    right    : 50px;
  }

  // Contact Address
  .contact__address {
    @include list-oneline;
    padding-left : 0;
    list-style   : none;
    margin-top   : $line-height-computed;
    font-size    : $font-size-small;

    a {
      text-decoration : none;
    }
  }

  // Horizontally layout certain sections
  $print-dl-horizontal-offset : 140px;

  .experience,
  .personal-projects,
  .education {
    dl {
      margin-bottom : $line-height-computed / 2;
    }

    dt {
      float         : left;
      width         : ($print-dl-horizontal-offset - 20);
      clear         : left;
      text-align    : right;
      font-size     : $font-size-small;
      font-weight   : 300;
      margin-bottom : $line-height-computed;

      @include text-overflow;
    }

    dd {
      margin-left : $print-dl-horizontal-offset;

      a::after {
        content   : ' (' attr(href) ') ';
        font-size : $font-size-small;
      }
    }
  }

  .personal-projects__logo {
    width : 58px;
  }

  .certificates {
    &__list {
      padding-left : 0;
      list-style   : none;
    }

    &__list-item {
      display     : flex;
      flex-flow   : row nowrap;
      align-items : center;

      //&:not(:last-child) { margin-bottom : $line-height-computed/2; }
    }

    &__logo-container {
      flex          : 0 0 auto;
      margin-bottom : 0;
      margin-right  : $grid-gutter-width;
      width         : ($print-dl-horizontal-offset - 20);

      > .certificates__link,
      > .certificates__logo {
        float : right;
      }
    }

    &__description {
      flex : 1 0 auto;
    }

    &__link,
    &__logo {
      display : block;
    }

    &__logo--magento {
      width  : 64px;
      height : 116px;
    }
  }
}

