@media screen {

  body {
    @include breakpoint($screen-xs) {
      background-image      : url('../img/roc-large.jpg');
      background-position   : top right;
      background-repeat     : no-repeat;
      background-size       : auto 100vh;
      background-attachment : fixed;
    }
  }

  h3:first-child {
    margin-top : 0;
  }

  .browser-happy {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    margin   : $line-height-computed/2 $grid-gutter-width/2 0;

    @include breakpoint($screen-xs) {
      position : static;
    }
  }

  // Hire Me
  .hire-me {
    position   : absolute;
    top        : 59%;
    right      : 0;
    width      : 7%;
    height     : 7%;
    z-index    : 10;
    background : $color-red;

    @include breakpoint($screen-xs) {
      position : fixed;
    }
  }

  // Home Page
  .container--contact {
    height          : 100vh;
    background      : url('../img/roc-small.jpg') top right no-repeat;
    background-size : cover;

    @include breakpoint($screen-sm) {
      background : none;
    }
  }

  .contact {
    position  : absolute;
    top       : 50%;
    transform : translateY(-50%);
  }

  //  Contact
  .address {
    @include breakpoint($screen-lg) {
      padding-left  : 10px;
      padding-right : 30px;
      position      : fixed;
      right         : 0;
      text-align    : left;
      top           : 69px;
      width         : 25%;
      z-index       : 10;
    }

    &__list {
      @include list-unstyled;
    }
  }

  // Operation
  .operation {
    @include breakpoint($screen-lg) {
      bottom        : 30px;
      padding-left  : 10px;
      padding-right : 30px;
      position      : fixed;
      right         : 0;
      width         : 25%;
      z-index       : 20;
    }

    &__list {
      @include list-unstyled;
    }
  }

  // QR Code
  .qr-code {
    fill     : $color-gold;
    position : absolute;
    top      : 60px;
    right    : 30px;
    display  : none;

    @include breakpoint($screen-md) {
      display : block;
    }
  }

  // Experience
  .experience {
    &__company {
      color       : $text-muted;
      text-align  : center;
      font-weight : normal;
    }

    &__company-link {
      display : block;
    }

    &__logo {
      @include center-block;
      max-width     : 200px;
      fill          : currentColor;
      margin-bottom : $line-height-computed/2;

      @include breakpoint($screen-md) {
        max-width : 100%;
      }
    }

    &__description:not(:last-child) {
      padding-bottom : $line-height-computed/2;
      border-bottom  : 2px solid $color-dark-gray;
      margin-bottom  : $line-height-computed;
    }
  }

  // Portfolio
  .portfolio {
    &__list {
      @include list-unstyled;
      display         : flex;
      flex-flow       : row wrap;
      justify-content : space-around;
      align-items     : center;
    }

    &__list-item {
      display       : block;
      flex          : 1 1 40%;
      max-width     : 40%;
      max-height    : 50px;
      margin-top    : $line-height-computed;
      margin-bottom : $line-height-computed;
    }

    &__logo-link {
      display : block;
    }

    &__logo {
      display    : block;
      fill       : currentColor;
      max-height : 50px;
    }
  }

  // Personal Projects
  .personal-projects {
    &__logo-container {
      text-align  : center;
      font-weight : normal;
      color       : $text-muted;
    }

    &__logo {
      @include center-block;
      margin-bottom : $line-height-computed/2;
    }
  }

  // Skills
  // Education
  .education {
    &__logo-container {
      color         : $text-muted;
      font-weight   : normal;
      text-align    : center;
      margin-bottom : $line-height-computed/2;
    }

    &__logo {
      @include center-block;
      max-width     : 200px;
      fill          : currentColor;
      margin-bottom : $line-height-computed/2;

      @include breakpoint($screen-md) {
        max-width : 100%;
      }
    }

    &__description {
      margin-bottom : $line-height-computed;
    }
  }

  // Certificates
  .certificates {
    &__list {
      @include list-unstyled;
      display         : flex;
      flex-flow       : row wrap;
      justify-content : space-around;
    }

    &__list-item {
      text-align : center;
      flex       : 1 1 100%;
      max-width  : 100%;

      &:not(:last-child) {
        margin-bottom : $line-height-computed * 2;
      }

      @include breakpoint($screen-md) {
        max-width : 25%;
      }
    }

    &__logo-container {
      margin-bottom : $line-height-computed;

      @include breakpoint($screen-md) {
        @include center-block;
        width    : 207px;
        height   : 116px;
        position : relative;
      }
    }

    &__logo {
      @include breakpoint($screen-md) {
        position  : absolute;
        top       : 50%;
        left      : 50%;
        transform : translate(-50%, -50%);
      }
    }
  }

  // Trivia
  .trivia .embed-responsive {
    margin-bottom : 20px;
  }
}
