$c-kiwi-brown : #735134;
$c-kiwi-green : #929b1a;
$c-kiwi-light-green : #bec64d;
$c-kiwi-dark-brown : #1d1008;
$c-kiwi-milk : #ede0ac;

$black : #000;
$white : #fff;
$popover-color : #333;

// Ribbon
$ribbon-color : #d64b4b;
$text-shadow-color : #d65c5c;
$h2-color : #420000;
$h2-before-border-color : #871616;

$print-page-padding-x : 30px;
