@media screen {

  .bg {
    padding-bottom      : $line-height-computed * 2;
  }

  // Homepage background
  .contact {
    // z-index management
    --zindex--contact__video-bg : 10;
    --zindex--contact__video-bg-overlay : 11;
    --zindex--contact__text : 20;

    width     : 100vw;
    height    : 100vh;
    max-width : 100%;
    overflow  : hidden;
    position  : relative;

    &__video-bg {
      position   : absolute;
      top        : 50%;
      left       : 50%;
      transform  : translate(-50%, -50%);
      min-width  : 100%;
      min-height : 100%;
      z-index    : $zindex--contact__video-bg;
    }

    &::before {
      content             : '';
      position            : absolute;
      top                 : 0;
      left                : 0;
      width               : 100%;
      height              : calc(100% + 1px); // Compensate the 1px extra video background on Chrome
      background-image    : linear-gradient(to bottom, transparent 0%, #{$body-bg} 100%), url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAADCAYAAABWKLW/AAAAHElEQVQIW2OUk1P4/+jRA0YGBgYGMAETAHNgAgDNXglfa/ch1wAAAABJRU5ErkJggg==);
      background-size     : 100% 20%, auto auto;
      background-position : left bottom, left top;
      background-repeat   : no-repeat, repeat;
      z-index             : $zindex--contact__video-bg-overlay;
    }

    //  Contact
    &__text {
      @include container;
      position  : absolute;
      top       : 50%;
      left      : 0;
      right     : 0;
      transform : translateY(-50%);
      z-index   : $zindex--contact__text;
    }

    // Name
    &__name {
      font-weight   : 300;
      margin-bottom : $line-height-computed;
      color         : $color-white;
      line-height   : .8;

      @include breakpoint($screen-sm) {
        margin-bottom : $line-height-computed * 2;
        line-height   : .6;
        font-size     : $font-size-base * 6;
      }

      @include breakpoint($screen-md) {
        font-weight : 100;
        font-size   : $font-size-base * 10;
      }
    }

    &__tag-line {
      color       : $brand-primary;
      font-weight : 300;
      font-size   : $font-size-base;

      @include breakpoint($screen-sm) {
        font-weight : 100;
        font-size   : 38.2%;
      }
    }

    // Address
    &__address {
      @include list-unstyled;
      margin-bottom : $line-height-computed;

      @include breakpoint($screen-sm) {
        @include list-oneline;
        margin-bottom : $line-height-computed / 2;
      }
    }

    &__address-item {
      margin-bottom : $line-height-computed / 2;

      @include breakpoint($screen-sm) {
        margin-bottom : 0;
      }
    }
  }

  .contact__address > .contact__website {
    display : none;
  }
}

.icon {
  width          : 24px;
  height         : 24px;
  vertical-align : middle;
  fill           : currentColor;
  margin-top     : -2px;
}
